{% extends 'about.html' %}

{% block content %}
<div class="container" style="background-color: white;">
    <h1 style="text-align:center">Contact us</h1>
    <div class="container">
    <h2 style="text-decoration: underline;">Location</h2>
    <p>We are available in Lake Wales and Riverview Florida. </p>
    <h2 style="text-decoration: underline;">Purchase</h3>
    <p>Please email us the trees you would like to purchase and the locations you would like to pick them up. 
        Our nursery in Lake Wales is currently not open to the public, but will be coming soon.</p>
    <h2 style="text-decoration: underline;">Email</h4>
    <p>Rivendellgardensflorida@gmail.com</p>
    </div>
</div>
{% endblock content %}