<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Rivendell</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 
     <!-- Bootstrap CSS -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 
</head>

<style>
    .bordered {
      border:10px outset yellowgreen;

    }
    p {
        font-size: 20px;
    }
    .border2 {
        border:10px outset lightskyblue;
    }
  </style>

<style>
    .column {
      float: left;
      padding: 5px;
    }
    
</style>

    <nav class="green">
        <div class="container nav-wrapper">
            <!-- <a href="/" class="brand-logo"><img src="../static/images/White Koi.png"  width="150" height="65"><img src="../static/images/Blackkoi.png"  width="150" height="65"></a> -->
            <ul id="nav-mobile" class="right">
                <!--add side bars here-->
                <li><a href="/">Home</a></li>
                <li><a href="about">About us</a></li>
                <li><a href="contact">Contact us</a></li> 
            </ul>
        </div>
    </nav>

<body style="background-image: url(static/images/lotr-rivendell.png); background-repeat: no-repeat;"></body>
    <div class="container bordered" style="background-color: white;">
        <h1 style="text-align:center; text-decoration: underline;">Contact us</h1>
        <h2 style="text-decoration: underline;">Location</h2>
        <p>We are available in Lake Wales and Riverview Florida. </p>
        <hr>
        <h2 style="text-decoration: underline;">Purchase</h3>
        <p> Please email us the trees you would like to purchase and the locations you would like to pick them up. 
            Our nursery in Lake Wales is currently not open to the public, but will be coming soon.</p>
        <hr>
        <h2 style="text-decoration: underline;">Email</h4>
        <p>RivendellGardensFlorida@gmail.com</p>
        <a href="https://www.facebook.com/RivendellGardensFlorida/">https://www.facebook.com/RivendellGardensFlorida/</a>
    </div>

</body>


